button {
  width: 140px;
  height: 3rem;
  margin: 5px;
  color: #000;
  background: #bbb;
}

button:hover {
  background: #eee;
  color: #000;
}

button:active {
  background: #555;
}

select {
  padding: 10px;
  width: 140px;
  height: 3rem;
  margin: 5px;
}

option[value="野田クリスタル"] {
  font-size: 50px;
  font-family: 'DotGothic16', sans-serif;
}

td, th {
  padding: 7px;
  border-bottom: 1px solid #ccc;
}

.border{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#item-3, #item-7, #item-11 {
  background: rgba(58, 255, 104, .3);
}

#item-4, #item-5 {
  background: rgba(0, 75, 235, .3);
}

#item-2, #item-9 {
  background: rgba(255, 123, 0, .3);
}

#item-6, #item-8, #item-10 {
  background: rgba(255, 0, 0, .3);
}
