button {
  width: 140px;
  height: 3rem;
  margin: 5px;
  color: #000;
  background: #bbb;
}

button:hover {
  background: #eee;
  color: #000;
}

button:active {
  background: #555;
}

select {
  padding: 10px;
  width: 140px;
  height: 3rem;
  margin: 5px;
}

option {
  padding: 10px;
  width: 140px;
  height: 3rem;
  margin: 5px;
}
